	<footer class="footer">
		<div class="full rel">
			<nav class="footer__nav">
				<a href="#" class="footer__nav-item">О магазине</a>
				<a href="#" class="footer__nav-item">Как сделать заказ</a>
				<a href="#" class="footer__nav-item">Условия доставки</a>
				<a href="#" class="footer__nav-item">Способы оплаты</a>
			</nav>
			<div class="footer__social">
				<a href="#" class="footer__social-item footer__social-item--fb"></a>
				<a href="#" class="footer__social-item footer__social-item--vk"></a>
				<a href="#" class="footer__social-item footer__social-item--youtube"></a>
			</div>
			<div class="footer__phone">
				<div class="footer__phone-item">+7 (095) 545-54-54</div>
				<div class="footer__phone-item">+7 (095) 545-54-54</div>
				<a href="mailto:sales@playbrick.ru" class="footer__email">sales@playbrick.ru</a>
			</div>
			<div class="footer__copyright">
				© Playbrick — 2017
			</div>
		</div>
	</footer>
	<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>