		<div class="viewed">
			<div class="full">
				<p class="viewed__title">Вы смотрели (12)</p>
				<div class="viewed__list js-viewed">
					<div class="catalog__item">
						<div class="catalog__item-pic">
							<a href="#"><img src="i/product-middle.jpg" alt="Звёздный истребитель джедаев с гипердвигателем"></a>
						</div>
						<p class="catalog__item-category">LEGO 10 Series</p>
						<p class="catalog__item-name"><a href="#">Звёздный истребитель джедаев с гипердвигателем</a></p>
						<div class="catalog__item-system">
							<div class="catalog__item-cost">
								<span class="catalog__item-cost--old">11 800 р.</span>
								10 990 р.
							</div>
							<form>
								<button class="btn">в корзину</button>
							</form>
						</div>
						<div class="catalog__item-labels">
							<span class="catalog__item-label catalog__item-label--sale">%</span>
							<span class="catalog__item-label catalog__item-label--new">new</span>
						</div>
						<a href="i/product-big.jpg" class="catalog__item-preview js-catalog-preview"></a>
					</div>
					<div class="catalog__item">
						<div class="catalog__item-pic">
							<a href="#"><img src="i/product-middle.jpg" alt="Звёздный истребитель джедаев с гипердвигателем"></a>
						</div>
						<p class="catalog__item-category">LEGO 10 Series</p>
						<p class="catalog__item-name"><a href="#">Звёздный истребитель джедаев с гипердвигателем</a></p>
						<div class="catalog__item-system">
							<div class="catalog__item-cost">
								<span class="catalog__item-cost--old">11 800 р.</span>
								10 990 р.
							</div>
							<form>
								<button class="btn">в корзину</button>
							</form>
						</div>
						<div class="catalog__item-labels">
							<span class="catalog__item-label catalog__item-label--sale">%</span>
							<span class="catalog__item-label catalog__item-label--new">new</span>
						</div>
						<a href="i/product-big.jpg" class="catalog__item-preview js-catalog-preview"></a>
					</div>
					<div class="catalog__item">
						<div class="catalog__item-pic">
							<a href="#"><img src="i/product-middle.jpg" alt="Звёздный истребитель джедаев с гипердвигателем"></a>
						</div>
						<p class="catalog__item-category">LEGO 10 Series</p>
						<p class="catalog__item-name"><a href="#">Звёздный истребитель джедаев с гипердвигателем</a></p>
						<div class="catalog__item-system">
							<div class="catalog__item-cost">
								<span class="catalog__item-cost--old">11 800 р.</span>
								10 990 р.
							</div>
							<form>
								<button class="btn">в корзину</button>
							</form>
						</div>
						<div class="catalog__item-labels">
							<span class="catalog__item-label catalog__item-label--sale">%</span>
							<span class="catalog__item-label catalog__item-label--new">new</span>
						</div>
						<a href="i/product-big.jpg" class="catalog__item-preview js-catalog-preview"></a>
					</div>
					<div class="catalog__item">
						<div class="catalog__item-pic">
							<a href="#"><img src="i/product-middle.jpg" alt="Звёздный истребитель джедаев с гипердвигателем"></a>
						</div>
						<p class="catalog__item-category">LEGO 10 Series</p>
						<p class="catalog__item-name"><a href="#">Звёздный истребитель джедаев с гипердвигателем</a></p>
						<div class="catalog__item-system">
							<div class="catalog__item-cost">
								<span class="catalog__item-cost--old">11 800 р.</span>
								10 990 р.
							</div>
							<form>
								<button class="btn">в корзину</button>
							</form>
						</div>
						<div class="catalog__item-labels">
							<span class="catalog__item-label catalog__item-label--sale">%</span>
							<span class="catalog__item-label catalog__item-label--new">new</span>
						</div>
						<a href="i/product-big.jpg" class="catalog__item-preview js-catalog-preview"></a>
					</div>
					<div class="catalog__item">
						<div class="catalog__item-pic">
							<a href="#"><img src="i/product-middle.jpg" alt="Звёздный истребитель джедаев с гипердвигателем"></a>
						</div>
						<p class="catalog__item-category">LEGO 10 Series</p>
						<p class="catalog__item-name"><a href="#">Звёздный истребитель джедаев с гипердвигателем</a></p>
						<div class="catalog__item-system">
							<div class="catalog__item-cost">
								<span class="catalog__item-cost--old">11 800 р.</span>
								10 990 р.
							</div>
							<form>
								<button class="btn">в корзину</button>
							</form>
						</div>
						<div class="catalog__item-labels">
							<span class="catalog__item-label catalog__item-label--sale">%</span>
							<span class="catalog__item-label catalog__item-label--new">new</span>
						</div>
						<a href="i/product-big.jpg" class="catalog__item-preview js-catalog-preview"></a>
					</div>
				</div>
			</div>
		</div>